<% provide(:title, 'Contact') %>

    <h1>Contact</h1>
    <p>
      In order to reach the amazing person who created this page, just take a look at the
      <a href="http://dcc.ufmg.br/~mmarques">Brazilian Badass' webpage.</a>
    </p>