<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <p>
      This is the home page for the
      <a href="http://dcc.ufmg.br/~mmarques">Marlon Marques'</a>
      sample Micro Blog application.
    </p>

